build --cxxopt=-std=c++23
build --cxxopt=-pedantic 
build --cxxopt=-Wextra 
build --cxxopt=-Wcast-align 
build --cxxopt=-Wcast-qual 
build --cxxopt=-Wdisabled-optimization
build --cxxopt=-Wformat=2
build --cxxopt=-Winit-self
build --cxxopt=-Wlogical-op
build --cxxopt=-Wnoexcept
build --cxxopt=-Wold-style-cast
build --cxxopt=-Woverloaded-virtual
build --cxxopt=-Wredundant-decls
build --cxxopt=-Wsign-promo
build --cxxopt=-Wstrict-null-sentinel
build --cxxopt=-Wstrict-overflow=5
build --cxxopt=-Wundef
build --cxxopt=-Werror
build --cxxopt=-Wno-implicit-fallthrough
build --cxxopt=-Wno-unused
common --registry=https://raw.githubusercontent.com/digiboys/bazel-registry/main
common --registry=https://bcr.bazel.build
build:clang-format --aspects=@bazel_clang_format//:defs.bzl%check_aspect
build:clang-format --output_groups=report

build:clang-format-fix --aspects=@bazel_clang_format//:defs.bzl%fix_aspect
build:clang-format-fix --output_groups=report
build:clang-format-fix --use_action_cache=false