build --cxxopt=-std=c++23
build --cxxopt=-pedantic 
build --cxxopt=-Wextra 
build --cxxopt=-Wcast-align 
build --cxxopt=-Wcast-qual 
build --cxxopt=-Wdisabled-optimization
build --cxxopt=-Wformat=2
build --cxxopt=-Winit-self
build --cxxopt=-Wlogical-op
build --cxxopt=-Wnoexcept
build --cxxopt=-Wold-style-cast
build --cxxopt=-Woverloaded-virtual
build --cxxopt=-Wredundant-decls
build --cxxopt=-Wshadow
build --cxxopt=-Wsign-conversion
build --cxxopt=-Wsign-promo
build --cxxopt=-Wstrict-null-sentinel
build --cxxopt=-Wstrict-overflow=5
build --cxxopt=-Wundef
build --cxxopt=-Werror
build --cxxopt=-Wno-unused